body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u7100_div {
=======
#u7063_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7100 {
=======
#u7063 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:640px;
  display:flex;
}
<<<<<<< HEAD
#u7100 .text {
=======
#u7063 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7100_text {
=======
#u7063_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7101_div {
=======
#u7064_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
<<<<<<< HEAD
#u7101 {
=======
#u7064 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
<<<<<<< HEAD
#u7101 .text {
=======
#u7064 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7101_text {
=======
#u7064_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7102_img {
=======
#u7065_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
<<<<<<< HEAD
#u7102 {
=======
#u7065 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:12px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u7102 .text {
=======
#u7065 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7102_text {
=======
#u7065_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7103_img {
=======
#u7066_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7103 {
=======
#u7066 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:150px;
  top:122px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u7103 .text {
=======
#u7066 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7103_text {
=======
#u7066_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7104_img {
=======
#u7067_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7104 {
=======
#u7067 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:176px;
  top:122px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u7104 .text {
=======
#u7067 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7104_text {
=======
#u7067_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7105_img {
=======
#u7068_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7105 {
=======
#u7068 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:201px;
  top:122px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u7105 .text {
=======
#u7068 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7105_text {
=======
#u7068_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7106_img {
=======
#u7069_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7106 {
=======
#u7069 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:227px;
  top:122px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u7106 .text {
=======
#u7069 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7106_text {
=======
#u7069_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7107_img {
=======
#u7070_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7107 {
=======
#u7070 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:252px;
  top:122px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u7107 .text {
=======
#u7070 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7107_text {
=======
#u7070_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7108_div {
=======
#u7071_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:84px;
  height:16px;
=======
  width:85px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7108 {
=======
#u7071 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:168px;
  top:95px;
<<<<<<< HEAD
  width:84px;
  height:16px;
  display:flex;
}
#u7108 .text {
=======
  width:85px;
  height:20px;
  display:flex;
}
#u7071 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7108_text {
=======
#u7071_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7109_div {
=======
#u7072_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7109 {
=======
#u7072 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:50px;
  top:160px;
  width:320px;
  height:160px;
  display:flex;
}
<<<<<<< HEAD
#u7109 .text {
=======
#u7072 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7109_text {
=======
#u7072_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7110_input {
=======
#u7073_input {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
<<<<<<< HEAD
  font-family:'Arial Normal', 'Arial';
=======
  font-family:'ArialMT', 'Arial';
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u7110_input.disabled {
=======
#u7073_input.disabled {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  padding:3px 2px 3px 2px;
<<<<<<< HEAD
  font-family:'Arial Normal', 'Arial';
=======
  font-family:'ArialMT', 'Arial';
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u7110_div {
=======
#u7073_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
<<<<<<< HEAD
#u7110 {
=======
#u7073 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:60px;
  top:170px;
  width:300px;
  height:30px;
  display:flex;
  font-size:14px;
}
<<<<<<< HEAD
#u7110 .text {
=======
#u7073 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7110_div.disabled {
=======
#u7073_div.disabled {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
<<<<<<< HEAD
#u7110.disabled {
}
#u7111_img {
=======
#u7073.disabled {
}
#u7074_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
<<<<<<< HEAD
#u7111 {
=======
#u7074 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:50px;
  top:330px;
  width:70px;
  height:70px;
  display:flex;
}
<<<<<<< HEAD
#u7111 .text {
=======
#u7074 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7111_text {
=======
#u7074_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7112_div {
=======
#u7075_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
<<<<<<< HEAD
#u7112 {
=======
#u7075 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:620px;
  width:340px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
<<<<<<< HEAD
#u7112 .text {
=======
#u7075 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7112_text {
=======
#u7075_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7113_div {
=======
#u7076_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
<<<<<<< HEAD
  height:16px;
=======
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7113 {
=======
#u7076 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:423px;
  top:340px;
  width:174px;
<<<<<<< HEAD
  height:16px;
  display:flex;
}
#u7113 .text {
=======
  height:20px;
  display:flex;
}
#u7076 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7113_text {
=======
#u7076_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7114_div {
=======
#u7077_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:232px;
  height:16px;
=======
  width:233px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7114 {
=======
#u7077 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:430px;
  top:630px;
<<<<<<< HEAD
  width:232px;
  height:16px;
  display:flex;
}
#u7114 .text {
=======
  width:233px;
  height:20px;
  display:flex;
}
#u7077 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7114_text {
=======
#u7077_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
