body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u7051_div {
=======
#u7014_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7051 {
=======
#u7014 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:640px;
  display:flex;
}
<<<<<<< HEAD
#u7051 .text {
=======
#u7014 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7051_text {
=======
#u7014_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7052_div {
=======
#u7015_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7052 {
=======
#u7015 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:45px;
  display:flex;
}
<<<<<<< HEAD
#u7052 .text {
=======
#u7015 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7052_text {
=======
#u7015_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7053_img {
=======
#u7016_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
<<<<<<< HEAD
#u7053 {
=======
#u7016 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:12px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u7053 .text {
=======
#u7016 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7053_text {
=======
#u7016_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7054_div {
=======
#u7017_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:54px;
  height:21px;
=======
  width:55px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
<<<<<<< HEAD
#u7054 {
=======
#u7017 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:174px;
  top:38px;
<<<<<<< HEAD
  width:54px;
  height:21px;
=======
  width:55px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
<<<<<<< HEAD
#u7054 .text {
=======
#u7017 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7054_text {
=======
#u7017_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7055_div {
=======
#u7018_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7055 {
=======
#u7018 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:85px;
  width:360px;
  height:230px;
  display:flex;
}
<<<<<<< HEAD
#u7055 .text {
=======
#u7018 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7055_text {
=======
#u7018_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7056_img {
=======
#u7019_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7056 {
=======
#u7019 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:95px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7056 .text {
=======
#u7019 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7056_text {
=======
#u7019_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7057_div {
=======
#u7020_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:256px;
  height:18px;
=======
  width:257px;
  height:22px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u7057 {
=======
#u7020 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:95px;
<<<<<<< HEAD
  width:256px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u7057 .text {
=======
  width:257px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u7020 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7057_text {
=======
#u7020_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7058_img {
=======
#u7021_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7058 {
=======
#u7021 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:125px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7058 .text {
=======
#u7021 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7058_text {
=======
#u7021_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7059_img {
=======
#u7022_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u7059 {
=======
#u7022 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:125px;
  width:25px;
  height:25px;
  display:flex;
  font-size:6px;
}
<<<<<<< HEAD
#u7059 .text {
=======
#u7022 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7059_text {
=======
#u7022_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7060_div {
=======
#u7023_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u7060 {
=======
#u7023 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:97px;
  top:129px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u7060 .text {
=======
#u7023 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7060_text {
=======
#u7023_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7061_div {
=======
#u7024_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:168px;
  height:16px;
=======
  width:169px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7061 {
=======
#u7024 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:156px;
<<<<<<< HEAD
  width:168px;
  height:16px;
  display:flex;
}
#u7061 .text {
=======
  width:169px;
  height:20px;
  display:flex;
}
#u7024 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7061_text {
=======
#u7024_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7062_img {
=======
#u7025_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
<<<<<<< HEAD
#u7062 {
=======
#u7025 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:350px;
  top:156px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
<<<<<<< HEAD
#u7062 .text {
=======
#u7025 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7062_text {
=======
#u7025_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7063_img {
=======
#u7026_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u7063 {
=======
#u7026 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:191px;
  width:25px;
  height:25px;
  display:flex;
  font-size:6px;
}
<<<<<<< HEAD
#u7063 .text {
=======
#u7026 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7063_text {
=======
#u7026_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7064_div {
=======
#u7027_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u7064 {
=======
#u7027 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:97px;
  top:195px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u7064 .text {
=======
#u7027 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7064_text {
=======
#u7027_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7065_div {
=======
#u7028_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:266px;
  height:16px;
=======
  width:267px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7065 {
=======
#u7028 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:222px;
<<<<<<< HEAD
  width:266px;
  height:16px;
  display:flex;
}
#u7065 .text {
=======
  width:267px;
  height:20px;
  display:flex;
}
#u7028 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7065_text {
=======
#u7028_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7066_img {
=======
#u7029_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
<<<<<<< HEAD
#u7066 {
=======
#u7029 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:350px;
  top:222px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
<<<<<<< HEAD
#u7066 .text {
=======
#u7029 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7066_text {
=======
#u7029_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7067_img {
=======
#u7030_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
<<<<<<< HEAD
#u7067 {
=======
#u7030 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:182px;
  width:315px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u7067 .text {
=======
#u7030 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7067_text {
=======
#u7030_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7068_img {
=======
#u7031_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u7068 {
=======
#u7031 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:257px;
  width:25px;
  height:25px;
  display:flex;
  font-size:6px;
}
<<<<<<< HEAD
#u7068 .text {
=======
#u7031 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7068_text {
=======
#u7031_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7069_div {
=======
#u7032_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
<<<<<<< HEAD
#u7069 {
=======
#u7032 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:97px;
  top:261px;
<<<<<<< HEAD
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u7069 .text {
=======
  width:25px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u7032 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7069_text {
=======
#u7032_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7070_div {
=======
#u7033_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:84px;
  height:16px;
=======
  width:85px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7070 {
=======
#u7033 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:288px;
<<<<<<< HEAD
  width:84px;
  height:16px;
=======
  width:85px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7070 .text {
=======
#u7033 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7070_text {
=======
#u7033_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7071_img {
=======
#u7034_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
<<<<<<< HEAD
#u7071 {
=======
#u7034 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:350px;
  top:288px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
<<<<<<< HEAD
#u7071 .text {
=======
#u7034 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7071_text {
=======
#u7034_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7072_img {
=======
#u7035_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
<<<<<<< HEAD
#u7072 {
=======
#u7035 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:248px;
  width:315px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u7072 .text {
=======
#u7035 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7072_text {
=======
#u7035_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7073_div {
=======
#u7036_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:43px;
  height:14px;
=======
  width:44px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
<<<<<<< HEAD
#u7073 {
=======
#u7036 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:336px;
  top:98px;
<<<<<<< HEAD
  width:43px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u7073 .text {
=======
  width:44px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u7036 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7073_text {
=======
#u7036_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7074_div {
=======
#u7037_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7074 {
=======
#u7037 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:325px;
  width:360px;
  height:165px;
  display:flex;
}
<<<<<<< HEAD
#u7074 .text {
=======
#u7037 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7074_text {
=======
#u7037_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7075_img {
=======
#u7038_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7075 {
=======
#u7038 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:335px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7075 .text {
=======
#u7038 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7075_text {
=======
#u7038_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7076_div {
=======
#u7039_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:192px;
  height:18px;
=======
  width:193px;
  height:22px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u7076 {
=======
#u7039 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:335px;
<<<<<<< HEAD
  width:192px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u7076 .text {
=======
  width:193px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u7039 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7076_text {
=======
#u7039_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7077_img {
=======
#u7040_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7077 {
=======
#u7040 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:365px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7077 .text {
=======
#u7040 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7077_text {
=======
#u7040_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7078_img {
=======
#u7041_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u7078 {
=======
#u7041 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:365px;
  width:25px;
  height:25px;
  display:flex;
  font-size:6px;
}
<<<<<<< HEAD
#u7078 .text {
=======
#u7041 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7078_text {
=======
#u7041_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7079_div {
=======
#u7042_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
<<<<<<< HEAD
#u7079 {
=======
#u7042 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:97px;
  top:369px;
<<<<<<< HEAD
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u7079 .text {
=======
  width:25px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u7042 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7079_text {
=======
#u7042_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7080_div {
=======
#u7043_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
<<<<<<< HEAD
  height:16px;
=======
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7080 {
=======
#u7043 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:396px;
  width:255px;
<<<<<<< HEAD
  height:16px;
  display:flex;
}
#u7080 .text {
=======
  height:20px;
  display:flex;
}
#u7043 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7080_text {
=======
#u7043_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7081_img {
=======
#u7044_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
<<<<<<< HEAD
#u7081 {
=======
#u7044 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:350px;
  top:396px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
<<<<<<< HEAD
#u7081 .text {
=======
#u7044 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7081_text {
=======
#u7044_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7082_img {
=======
#u7045_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u7082 {
=======
#u7045 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:431px;
  width:25px;
  height:25px;
  display:flex;
  font-size:6px;
}
<<<<<<< HEAD
#u7082 .text {
=======
#u7045 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7082_text {
=======
#u7045_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7083_div {
=======
#u7046_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
<<<<<<< HEAD
#u7083 {
=======
#u7046 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:97px;
  top:435px;
<<<<<<< HEAD
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u7083 .text {
=======
  width:25px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u7046 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7083_text {
=======
#u7046_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7084_div {
=======
#u7047_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:154px;
  height:16px;
=======
  width:155px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7084 {
=======
#u7047 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:462px;
<<<<<<< HEAD
  width:154px;
  height:16px;
  display:flex;
}
#u7084 .text {
=======
  width:155px;
  height:20px;
  display:flex;
}
#u7047 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7084_text {
=======
#u7047_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7085_img {
=======
#u7048_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
<<<<<<< HEAD
#u7085 {
=======
#u7048 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:350px;
  top:462px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
<<<<<<< HEAD
#u7085 .text {
=======
#u7048 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7085_text {
=======
#u7048_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7086_img {
=======
#u7049_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
<<<<<<< HEAD
#u7086 {
=======
#u7049 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:422px;
  width:315px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u7086 .text {
=======
#u7049 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7086_text {
=======
#u7049_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7087_div {
=======
#u7050_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:43px;
  height:14px;
=======
  width:44px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
<<<<<<< HEAD
#u7087 {
=======
#u7050 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:336px;
  top:338px;
<<<<<<< HEAD
  width:43px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u7087 .text {
=======
  width:44px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u7050 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7087_text {
=======
#u7050_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7088_div {
=======
#u7051_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7088 {
=======
#u7051 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:500px;
  width:360px;
  height:100px;
  display:flex;
}
<<<<<<< HEAD
#u7088 .text {
=======
#u7051 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7088_text {
=======
#u7051_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7089_img {
=======
#u7052_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7089 {
=======
#u7052 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:510px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7089 .text {
=======
#u7052 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7089_text {
=======
#u7052_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7090_div {
=======
#u7053_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:144px;
  height:18px;
=======
  width:145px;
  height:22px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u7090 {
=======
#u7053 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:510px;
<<<<<<< HEAD
  width:144px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u7090 .text {
=======
  width:145px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u7053 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7090_text {
=======
#u7053_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7091_img {
=======
#u7054_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u7091 {
=======
#u7054 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:540px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7091 .text {
=======
#u7054 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7091_text {
=======
#u7054_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7092_img {
=======
#u7055_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u7092 {
=======
#u7055 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:540px;
  width:25px;
  height:25px;
  display:flex;
  font-size:6px;
}
<<<<<<< HEAD
#u7092 .text {
=======
#u7055 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7092_text {
=======
#u7055_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7093_div {
=======
#u7056_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u7093 {
=======
#u7056 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:97px;
  top:544px;
<<<<<<< HEAD
  width:24px;
  height:14px;
=======
  width:25px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u7093 .text {
=======
#u7056 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7093_text {
=======
#u7056_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7094_div {
=======
#u7057_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:168px;
  height:16px;
=======
  width:169px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7094 {
=======
#u7057 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:65px;
  top:571px;
<<<<<<< HEAD
  width:168px;
  height:16px;
=======
  width:169px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u7094 .text {
=======
#u7057 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7094_text {
=======
#u7057_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7095_img {
=======
#u7058_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
<<<<<<< HEAD
#u7095 {
=======
#u7058 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:350px;
  top:571px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
<<<<<<< HEAD
#u7095 .text {
=======
#u7058 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7095_text {
=======
#u7058_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u7096_div {
=======
#u7059_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:43px;
  height:14px;
=======
  width:44px;
  height:17px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
<<<<<<< HEAD
#u7096 {
=======
#u7059 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:336px;
  top:513px;
<<<<<<< HEAD
  width:43px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u7096 .text {
=======
  width:44px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u7059 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7096_text {
=======
#u7059_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7097_img {
=======
#u7060_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
<<<<<<< HEAD
#u7097 {
=======
#u7060 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:60px;
  top:649px;
  width:95px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u7097 .text {
=======
#u7060 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7097_text {
=======
#u7060_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u7098_div {
=======
#u7061_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:98px;
  height:16px;
=======
  width:99px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u7098 {
=======
#u7061 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:161px;
  top:640px;
<<<<<<< HEAD
  width:98px;
  height:16px;
  display:flex;
}
#u7098 .text {
=======
  width:99px;
  height:20px;
  display:flex;
}
#u7061 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7098_text {
=======
#u7061_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u7099_img {
=======
#u7062_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:2px;
}
<<<<<<< HEAD
#u7099 {
=======
#u7062 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:265px;
  top:649px;
  width:95px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u7099 .text {
=======
#u7062 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u7099_text {
=======
#u7062_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
