body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5228 {
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:640px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5230 {
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5231 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u5232 {
  position:absolute;
  left:40px;
  top:43px;
  width:12px;
  height:20px;
}
#u5233 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5234 {
  position:absolute;
  left:50px;
  top:95px;
  width:150px;
  height:215px;
}
#u5235 {
  position:absolute;
  left:2px;
  top:100px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:179px;
}
#u5236 {
  position:absolute;
  left:51px;
  top:96px;
  width:148px;
  height:179px;
}
#u5237 {
  position:absolute;
  left:2px;
  top:82px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5238 {
  position:absolute;
  left:85px;
  top:250px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5240 {
  position:absolute;
  left:54px;
  top:283px;
  width:20px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
#u5241 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5242 {
  position:absolute;
  left:80px;
  top:285px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u5243 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u5244 {
  position:absolute;
  left:165px;
  top:282px;
  width:31px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5245 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u5246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5246 {
  position:absolute;
  left:220px;
  top:95px;
  width:150px;
  height:215px;
}
#u5247 {
  position:absolute;
  left:2px;
  top:100px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:179px;
}
#u5248 {
  position:absolute;
  left:221px;
  top:96px;
  width:148px;
  height:179px;
}
#u5249 {
  position:absolute;
  left:2px;
  top:82px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5250 {
  position:absolute;
  left:255px;
  top:250px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5251 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5252 {
  position:absolute;
  left:224px;
  top:283px;
  width:20px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
#u5253 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u5254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5254 {
  position:absolute;
  left:250px;
  top:285px;
  width:37px;
  height:17px;
  font-size:12px;
}
#u5255 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u5256 {
  position:absolute;
  left:335px;
  top:282px;
  width:31px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5257 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u5258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5258 {
  position:absolute;
  left:50px;
  top:330px;
  width:150px;
  height:215px;
}
#u5259 {
  position:absolute;
  left:2px;
  top:100px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:179px;
}
#u5260 {
  position:absolute;
  left:51px;
  top:331px;
  width:148px;
  height:179px;
}
#u5261 {
  position:absolute;
  left:2px;
  top:82px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5262 {
  position:absolute;
  left:77px;
  top:485px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u5263 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5264 {
  position:absolute;
  left:54px;
  top:518px;
  width:20px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
#u5265 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u5266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5266 {
  position:absolute;
  left:80px;
  top:520px;
  width:61px;
  height:17px;
  font-size:12px;
}
#u5267 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u5268 {
  position:absolute;
  left:165px;
  top:517px;
  width:31px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5269 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u5270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5270 {
  position:absolute;
  left:220px;
  top:330px;
  width:150px;
  height:215px;
}
#u5271 {
  position:absolute;
  left:2px;
  top:100px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:179px;
}
#u5272 {
  position:absolute;
  left:221px;
  top:331px;
  width:148px;
  height:179px;
}
#u5273 {
  position:absolute;
  left:2px;
  top:82px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5274 {
  position:absolute;
  left:279px;
  top:488px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5275 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5276 {
  position:absolute;
  left:224px;
  top:518px;
  width:20px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
#u5277 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u5278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5278 {
  position:absolute;
  left:250px;
  top:520px;
  width:37px;
  height:17px;
  font-size:12px;
}
#u5279 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u5280 {
  position:absolute;
  left:335px;
  top:517px;
  width:31px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5281 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
