body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u6565_div {
=======
#u6528_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6565 {
=======
#u6528 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:640px;
  display:flex;
}
<<<<<<< HEAD
#u6565 .text {
=======
#u6528 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6565_text {
=======
#u6528_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6566_img {
=======
#u6529_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:124px;
}
<<<<<<< HEAD
#u6566 {
=======
#u6529 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:124px;
  display:flex;
}
<<<<<<< HEAD
#u6566 .text {
=======
#u6529 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6566_text {
=======
#u6529_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6567_img {
=======
#u6530_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
<<<<<<< HEAD
#u6567 {
=======
#u6530 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:45px;
  top:45px;
  width:12px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u6567 .text {
=======
#u6530 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6567_text {
=======
#u6530_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6568_div {
=======
#u6531_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:72px;
  height:21px;
=======
  width:73px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
<<<<<<< HEAD
#u6568 {
=======
#u6531 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:174px;
  top:43px;
<<<<<<< HEAD
  width:72px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u6568 .text {
=======
  width:73px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u6531 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6568_text {
=======
#u6531_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6569_div {
=======
#u6532_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6569 {
=======
#u6532 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:50px;
  top:115px;
  width:320px;
  height:365px;
  display:flex;
}
<<<<<<< HEAD
#u6569 .text {
=======
#u6532 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6569_text {
=======
#u6532_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6570_img {
=======
#u6533_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u6570 {
=======
#u6533 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:50px;
  top:87px;
  width:20px;
  height:20px;
  display:flex;
  font-size:4px;
}
<<<<<<< HEAD
#u6570 .text {
=======
#u6533 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6570_text {
=======
#u6533_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u6571_div {
=======
#u6534_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
<<<<<<< HEAD
  height:16px;
=======
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6571 {
=======
#u6534 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:74px;
  top:87px;
  width:192px;
<<<<<<< HEAD
  height:16px;
  display:flex;
}
#u6571 .text {
=======
  height:20px;
  display:flex;
}
#u6534 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6571_text {
=======
#u6534_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6572_div {
=======
#u6535_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:32px;
  height:18px;
=======
  width:33px;
  height:22px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u6572 {
=======
#u6535 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:60px;
  top:123px;
<<<<<<< HEAD
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u6572 .text {
=======
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u6535 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6572_text {
=======
#u6535_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6573_img {
=======
#u6536_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6573 {
=======
#u6536 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:154px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6573 .text {
=======
#u6536 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6573_text {
=======
#u6536_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6574_div {
=======
#u6537_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:36px;
  height:21px;
=======
  width:37px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
<<<<<<< HEAD
#u6574 {
=======
#u6537 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:151px;
<<<<<<< HEAD
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u6574 .text {
=======
  width:37px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u6537 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6574_text {
=======
#u6537_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6575_div {
=======
#u6538_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
<<<<<<< HEAD
  height:16px;
=======
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6575 {
=======
#u6538 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:178px;
  width:199px;
<<<<<<< HEAD
  height:16px;
  display:flex;
}
#u6575 .text {
=======
  height:20px;
  display:flex;
}
#u6538 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6575_text {
=======
#u6538_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6576_img {
=======
#u6539_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
<<<<<<< HEAD
#u6576 {
=======
#u6539 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:204px;
  width:280px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u6576 .text {
=======
#u6539 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6576_text {
=======
#u6539_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6577_img {
=======
#u6540_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6577 {
=======
#u6540 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:215px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6577 .text {
=======
#u6540 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6577_text {
=======
#u6540_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6578_div {
=======
#u6541_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:54px;
  height:21px;
=======
  width:55px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
<<<<<<< HEAD
#u6578 {
=======
#u6541 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:212px;
<<<<<<< HEAD
  width:54px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u6578 .text {
=======
  width:55px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u6541 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6578_text {
=======
#u6541_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6579_div {
=======
#u6542_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6579 {
=======
#u6542 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:239px;
  width:63px;
  height:16px;
  display:flex;
}
<<<<<<< HEAD
#u6579 .text {
=======
#u6542 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6579_text {
=======
#u6542_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6580_img {
=======
#u6543_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
<<<<<<< HEAD
#u6580 {
=======
#u6543 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:264px;
  width:280px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u6580 .text {
=======
#u6543 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6580_text {
=======
#u6543_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6581_img {
=======
#u6544_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6581 {
=======
#u6544 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:276px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6581 .text {
=======
#u6544 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6581_text {
=======
#u6544_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6582_div {
=======
#u6545_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:72px;
  height:21px;
=======
  width:73px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
<<<<<<< HEAD
#u6582 {
=======
#u6545 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:273px;
<<<<<<< HEAD
  width:72px;
  height:21px;
=======
  width:73px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
<<<<<<< HEAD
#u6582 .text {
=======
#u6545 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6582_text {
=======
#u6545_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6583_div {
=======
#u6546_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6583 {
=======
#u6546 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:300px;
  width:63px;
  height:16px;
  display:flex;
}
<<<<<<< HEAD
#u6583 .text {
=======
#u6546 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6583_text {
=======
#u6546_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6584_img {
=======
#u6547_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
<<<<<<< HEAD
#u6584 {
=======
#u6547 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:60px;
  top:326px;
  width:300px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u6584 .text {
=======
#u6547 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6584_text {
=======
#u6547_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6585_div {
=======
#u6548_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:32px;
  height:18px;
=======
  width:33px;
  height:22px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u6585 {
=======
#u6548 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:60px;
  top:337px;
<<<<<<< HEAD
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u6585 .text {
=======
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u6548 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6585_text {
=======
#u6548_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6586_img {
=======
#u6549_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6586 {
=======
#u6549 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:368px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6586 .text {
=======
#u6549 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6586_text {
=======
#u6549_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6587_div {
=======
#u6550_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:36px;
  height:21px;
=======
  width:37px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
<<<<<<< HEAD
#u6587 {
=======
#u6550 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:365px;
<<<<<<< HEAD
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u6587 .text {
=======
  width:37px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u6550 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6587_text {
=======
#u6550_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6588_div {
=======
#u6551_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
<<<<<<< HEAD
  height:16px;
=======
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6588 {
=======
#u6551 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:392px;
  width:199px;
<<<<<<< HEAD
  height:16px;
  display:flex;
}
#u6588 .text {
=======
  height:20px;
  display:flex;
}
#u6551 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6588_text {
=======
#u6551_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6589_img {
=======
#u6552_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
<<<<<<< HEAD
#u6589 {
=======
#u6552 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:418px;
  width:280px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u6589 .text {
=======
#u6552 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6589_text {
=======
#u6552_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6590_img {
=======
#u6553_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6590 {
=======
#u6553 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:429px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6590 .text {
=======
#u6553 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6590_text {
=======
#u6553_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6591_div {
=======
#u6554_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:36px;
  height:21px;
=======
  width:37px;
  height:25px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
<<<<<<< HEAD
#u6591 {
=======
#u6554 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:426px;
<<<<<<< HEAD
  width:36px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u6591 .text {
=======
  width:37px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u6554 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6591_text {
=======
#u6554_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6592_div {
=======
#u6555_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6592 {
=======
#u6555 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:453px;
  width:63px;
  height:16px;
  display:flex;
}
<<<<<<< HEAD
#u6592 .text {
=======
#u6555 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6592_text {
=======
#u6555_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6593_img {
=======
#u6556_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
<<<<<<< HEAD
#u6593 {
=======
#u6556 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:340px;
  top:165px;
  width:8px;
  height:14px;
  display:flex;
}
<<<<<<< HEAD
#u6593 .text {
=======
#u6556 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6593_text {
=======
#u6556_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6594_img {
=======
#u6557_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
<<<<<<< HEAD
#u6594 {
=======
#u6557 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:340px;
  top:226px;
  width:8px;
  height:14px;
  display:flex;
}
<<<<<<< HEAD
#u6594 .text {
=======
#u6557 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6594_text {
=======
#u6557_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6595_img {
=======
#u6558_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
<<<<<<< HEAD
#u6595 {
=======
#u6558 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:340px;
  top:287px;
  width:8px;
  height:14px;
  display:flex;
}
<<<<<<< HEAD
#u6595 .text {
=======
#u6558 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6595_text {
=======
#u6558_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6596_img {
=======
#u6559_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
<<<<<<< HEAD
#u6596 {
=======
#u6559 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:340px;
  top:379px;
  width:8px;
  height:14px;
  display:flex;
}
<<<<<<< HEAD
#u6596 .text {
=======
#u6559 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6596_text {
=======
#u6559_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6597_img {
=======
#u6560_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
<<<<<<< HEAD
#u6597 {
=======
#u6560 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:340px;
  top:440px;
  width:8px;
  height:14px;
  display:flex;
}
<<<<<<< HEAD
#u6597 .text {
=======
#u6560 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6597_text {
=======
#u6560_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6598_img {
=======
#u6561_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:4px;
}
<<<<<<< HEAD
#u6598 {
=======
#u6561 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:340px;
  top:131px;
  width:15px;
  height:4px;
  display:flex;
}
<<<<<<< HEAD
#u6598 .text {
=======
#u6561 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6598_text {
=======
#u6561_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6599_img {
=======
#u6562_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:4px;
}
<<<<<<< HEAD
#u6599 {
=======
#u6562 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:340px;
  top:345px;
  width:15px;
  height:4px;
  display:flex;
}
<<<<<<< HEAD
#u6599 .text {
=======
#u6562 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6599_text {
=======
#u6562_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6600_div {
=======
#u6563_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6600 {
=======
#u6563 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:50px;
  top:496px;
  width:320px;
  height:132px;
  display:flex;
}
<<<<<<< HEAD
#u6600 .text {
=======
#u6563 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6600_text {
=======
#u6563_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6601_div {
=======
#u6564_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:64px;
  height:18px;
=======
  width:65px;
  height:22px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u6601 {
=======
#u6564 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:60px;
  top:503px;
<<<<<<< HEAD
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u6601 .text {
=======
  width:65px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u6564 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6601_text {
=======
#u6564_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6602_img {
=======
#u6565_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6602 {
=======
#u6565 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:70px;
  top:535px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6602 .text {
=======
#u6565 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6602_text {
=======
#u6565_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6603_img {
=======
#u6566_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6603 {
=======
#u6566 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:150px;
  top:535px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6603 .text {
=======
#u6566 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6603_text {
=======
#u6566_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6604_img {
=======
#u6567_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6604 {
=======
#u6567 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:230px;
  top:535px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6604 .text {
=======
#u6567 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6604_text {
=======
#u6567_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6605_img {
=======
#u6568_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6605 {
=======
#u6568 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:310px;
  top:535px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6605 .text {
=======
#u6568 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6605_text {
=======
#u6568_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6606_div {
=======
#u6569_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:28px;
  height:16px;
=======
  width:29px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6606 {
=======
#u6569 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:76px;
  top:585px;
<<<<<<< HEAD
  width:28px;
  height:16px;
  display:flex;
}
#u6606 .text {
=======
  width:29px;
  height:20px;
  display:flex;
}
#u6569 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6606_text {
=======
#u6569_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6607_div {
=======
#u6570_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:28px;
  height:16px;
=======
  width:29px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6607 {
=======
#u6570 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:156px;
  top:585px;
<<<<<<< HEAD
  width:28px;
  height:16px;
  display:flex;
}
#u6607 .text {
=======
  width:29px;
  height:20px;
  display:flex;
}
#u6570 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6607_text {
=======
#u6570_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6608_div {
=======
#u6571_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:42px;
  height:16px;
=======
  width:43px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6608 {
=======
#u6571 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:230px;
  top:585px;
<<<<<<< HEAD
  width:42px;
  height:16px;
  display:flex;
}
#u6608 .text {
=======
  width:43px;
  height:20px;
  display:flex;
}
#u6571 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6608_text {
=======
#u6571_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6609_div {
=======
#u6572_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:56px;
  height:16px;
=======
  width:57px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6609 {
=======
#u6572 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:302px;
  top:585px;
<<<<<<< HEAD
  width:56px;
  height:16px;
  display:flex;
}
#u6609 .text {
=======
  width:57px;
  height:20px;
  display:flex;
}
#u6572 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6609_text {
=======
#u6572_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6610 {
=======
#u6573 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:640px;
  visibility:hidden;
}
<<<<<<< HEAD
#u6610_state0 {
=======
#u6573_state0 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.6);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6610_state0_content {
=======
#u6573_state0_content {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u6611_div {
=======
#u6574_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6611 {
=======
#u6574 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:236px;
  top:147px;
  width:95px;
  height:63px;
  display:flex;
}
<<<<<<< HEAD
#u6611 .text {
=======
#u6574 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6611_text {
=======
#u6574_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6612_div {
=======
#u6575_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:56px;
  height:16px;
=======
  width:57px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6612 {
=======
#u6575 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:265px;
  top:153px;
<<<<<<< HEAD
  width:56px;
  height:16px;
  display:flex;
}
#u6612 .text {
=======
  width:57px;
  height:20px;
  display:flex;
}
#u6575 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6612_text {
=======
#u6575_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6613_img {
=======
#u6576_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
<<<<<<< HEAD
#u6613 {
=======
#u6576 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:244px;
  top:155px;
  width:15px;
  height:15px;
  display:flex;
}
<<<<<<< HEAD
#u6613 .text {
=======
#u6576 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6613_text {
=======
#u6576_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6614_img {
=======
#u6577_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
<<<<<<< HEAD
#u6614 {
=======
#u6577 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:244px;
  top:183px;
  width:15px;
  height:15px;
  display:flex;
}
<<<<<<< HEAD
#u6614 .text {
=======
#u6577 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6614_text {
=======
#u6577_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6615_div {
=======
#u6578_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:56px;
  height:16px;
=======
  width:57px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6615 {
=======
#u6578 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:265px;
  top:180px;
<<<<<<< HEAD
  width:56px;
  height:16px;
  display:flex;
}
#u6615 .text {
=======
  width:57px;
  height:20px;
  display:flex;
}
#u6578 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6615_text {
=======
#u6578_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6610_state1 {
=======
#u6573_state1 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.6);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6610_state1_content {
=======
#u6573_state1_content {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u6616_div {
=======
#u6579_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6616 {
=======
#u6579 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:1px;
  top:480px;
  width:358px;
  height:160px;
  display:flex;
}
<<<<<<< HEAD
#u6616 .text {
=======
#u6579 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6616_text {
=======
#u6579_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6617_div {
=======
#u6580_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:64px;
  height:18px;
=======
  width:65px;
  height:22px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u6617 {
=======
#u6580 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:20px;
  top:499px;
<<<<<<< HEAD
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u6617 .text {
=======
  width:65px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u6580 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6617_text {
=======
#u6580_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6618_img {
=======
#u6581_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6618 {
=======
#u6581 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:40px;
  top:547px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6618 .text {
=======
#u6581 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6618_text {
=======
#u6581_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6619_img {
=======
#u6582_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6619 {
=======
#u6582 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:120px;
  top:547px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6619 .text {
=======
#u6582 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6619_text {
=======
#u6582_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6620_img {
=======
#u6583_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6620 {
=======
#u6583 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:200px;
  top:547px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6620 .text {
=======
#u6583 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6620_text {
=======
#u6583_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6621_img {
=======
#u6584_img {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u6621 {
=======
#u6584 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:280px;
  top:547px;
  width:40px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u6621 .text {
=======
#u6584 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6621_text {
=======
#u6584_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u6622_div {
=======
#u6585_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:28px;
  height:16px;
=======
  width:29px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6622 {
=======
#u6585 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:46px;
  top:597px;
<<<<<<< HEAD
  width:28px;
  height:16px;
  display:flex;
}
#u6622 .text {
=======
  width:29px;
  height:20px;
  display:flex;
}
#u6585 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6622_text {
=======
#u6585_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6623_div {
=======
#u6586_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:28px;
  height:16px;
=======
  width:29px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6623 {
=======
#u6586 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:126px;
  top:597px;
<<<<<<< HEAD
  width:28px;
  height:16px;
  display:flex;
}
#u6623 .text {
=======
  width:29px;
  height:20px;
  display:flex;
}
#u6586 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6623_text {
=======
#u6586_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6624_div {
=======
#u6587_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:42px;
  height:16px;
=======
  width:43px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6624 {
=======
#u6587 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:199px;
  top:597px;
<<<<<<< HEAD
  width:42px;
  height:16px;
  display:flex;
}
#u6624 .text {
=======
  width:43px;
  height:20px;
  display:flex;
}
#u6587 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6624_text {
=======
#u6587_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6625_div {
=======
#u6588_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:56px;
  height:16px;
=======
  width:57px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u6625 {
=======
#u6588 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:272px;
  top:597px;
<<<<<<< HEAD
  width:56px;
  height:16px;
  display:flex;
}
#u6625 .text {
=======
  width:57px;
  height:20px;
  display:flex;
}
#u6588 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6625_text {
=======
#u6588_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u6626_div {
=======
#u6589_div {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:56px;
  height:16px;
=======
  width:57px;
  height:20px;
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
<<<<<<< HEAD
#u6626 {
=======
#u6589 {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  position:absolute;
  left:322px;
  top:70px;
<<<<<<< HEAD
  width:56px;
  height:16px;
  display:flex;
  color:#0099FF;
}
#u6626 .text {
=======
  width:57px;
  height:20px;
  display:flex;
  color:#0099FF;
}
#u6589 .text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u6626_text {
=======
#u6589_text {
>>>>>>> 86b8d19d84a5cf6ceeba3be1ead0bc615ef7344a
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
