body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1059px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1088px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7939 {
  position:absolute;
  left:30px;
  top:35px;
  width:360px;
  height:1088px;
}
#u7940 {
  position:absolute;
  left:2px;
  top:536px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:171px;
}
#u7941 {
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:170px;
}
#u7942 {
  position:absolute;
  left:2px;
  top:77px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u7943 {
  position:absolute;
  left:40px;
  top:40px;
  width:12px;
  height:20px;
}
#u7944 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7945 {
  position:absolute;
  left:40px;
  top:80px;
  width:340px;
  height:150px;
}
#u7946 {
  position:absolute;
  left:2px;
  top:67px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7947 {
  position:absolute;
  left:50px;
  top:90px;
  width:195px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7948 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u7949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7949 {
  position:absolute;
  left:50px;
  top:114px;
  width:12px;
  height:12px;
}
#u7950 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7951 {
  position:absolute;
  left:63px;
  top:114px;
  width:12px;
  height:12px;
}
#u7952 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7953 {
  position:absolute;
  left:76px;
  top:114px;
  width:12px;
  height:12px;
}
#u7954 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7955 {
  position:absolute;
  left:89px;
  top:114px;
  width:12px;
  height:12px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7957 {
  position:absolute;
  left:101px;
  top:114px;
  width:12px;
  height:12px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7959 {
  position:absolute;
  left:116px;
  top:113px;
  width:26px;
  height:14px;
  font-size:10px;
}
#u7960 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u7961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7961 {
  position:absolute;
  left:190px;
  top:113px;
  width:89px;
  height:17px;
  font-size:12px;
}
#u7962 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7963 {
  position:absolute;
  left:50px;
  top:136px;
  width:320px;
  height:80px;
  overflow:hidden;
}
#u7963_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7963_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7964 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  overflow:hidden;
}
#u7964_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7965 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7966 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u7967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7967 {
  position:absolute;
  left:90px;
  top:0px;
  width:80px;
  height:80px;
}
#u7968 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u7969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7969 {
  position:absolute;
  left:180px;
  top:0px;
  width:80px;
  height:80px;
}
#u7970 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u7971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7971 {
  position:absolute;
  left:270px;
  top:0px;
  width:80px;
  height:80px;
}
#u7972 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u7973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7973 {
  position:absolute;
  left:40px;
  top:240px;
  width:340px;
  height:155px;
}
#u7974 {
  position:absolute;
  left:2px;
  top:70px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7975 {
  position:absolute;
  left:50px;
  top:248px;
  width:130px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7976 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u7977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7977 {
  position:absolute;
  left:40px;
  top:405px;
  width:340px;
  height:305px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:144px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u7979 {
  position:absolute;
  left:305px;
  top:90px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7980 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7981 {
  position:absolute;
  left:42px;
  top:407px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7981_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7981.selected {
}
#u7982 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u7983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7983 {
  position:absolute;
  left:102px;
  top:407px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7983_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7983.selected {
}
#u7984 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u7985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7985 {
  position:absolute;
  left:162px;
  top:407px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7985_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7985.selected {
}
#u7986 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u7987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7987 {
  position:absolute;
  left:50px;
  top:273px;
  width:260px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7988 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u7989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7989 {
  position:absolute;
  left:50px;
  top:301px;
  width:310px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7990 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u7991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7991 {
  position:absolute;
  left:240px;
  top:248px;
  width:130px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7992 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u7993 {
  position:absolute;
  left:45px;
  top:326px;
  width:330px;
  height:65px;
  overflow:hidden;
}
#u7993_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:65px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7993_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7994 {
  position:absolute;
  left:4px;
  top:2px;
  width:325px;
  height:60px;
}
#u7995 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u7993_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:65px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7993_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7996 {
  position:absolute;
  left:5px;
  top:0px;
  width:325px;
  height:80px;
}
#u7997 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u7998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7998 {
  position:absolute;
  left:222px;
  top:407px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7998_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7998.selected {
}
#u7999 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8000 {
  position:absolute;
  left:50px;
  top:452px;
  width:320px;
  height:95px;
}
#u8001 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u8002 {
  position:absolute;
  left:58px;
  top:460px;
  width:80px;
  height:80px;
}
#u8003 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8004 {
  position:absolute;
  left:146px;
  top:460px;
  width:124px;
  height:22px;
  font-size:16px;
}
#u8005 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u8006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8006 {
  position:absolute;
  left:301px;
  top:470px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u8007 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u8008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8008 {
  position:absolute;
  left:146px;
  top:486px;
  width:141px;
  height:17px;
  font-size:12px;
}
#u8009 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8010 {
  position:absolute;
  left:146px;
  top:504px;
  width:194px;
  height:17px;
  font-size:12px;
}
#u8011 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u8012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8012 {
  position:absolute;
  left:146px;
  top:523px;
  width:181px;
  height:17px;
  font-size:12px;
}
#u8013 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u8014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8014 {
  position:absolute;
  left:400px;
  top:415px;
  width:289px;
  height:20px;
}
#u8015 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u8016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8016 {
  position:absolute;
  left:400px;
  top:475px;
  width:289px;
  height:20px;
}
#u8017 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u8018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8018 {
  position:absolute;
  left:50px;
  top:582px;
  width:320px;
  height:95px;
}
#u8019 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u8020 {
  position:absolute;
  left:58px;
  top:590px;
  width:80px;
  height:80px;
}
#u8021 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8022 {
  position:absolute;
  left:146px;
  top:590px;
  width:124px;
  height:22px;
  font-size:16px;
}
#u8023 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u8024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8024 {
  position:absolute;
  left:146px;
  top:616px;
  width:141px;
  height:17px;
  font-size:12px;
}
#u8025 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8026 {
  position:absolute;
  left:146px;
  top:634px;
  width:194px;
  height:17px;
  font-size:12px;
}
#u8027 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u8028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8028 {
  position:absolute;
  left:146px;
  top:653px;
  width:181px;
  height:17px;
  font-size:12px;
}
#u8029 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u8030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8030 {
  position:absolute;
  left:400px;
  top:566px;
  width:659px;
  height:20px;
}
#u8031 {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  white-space:nowrap;
}
#u8032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8032 {
  position:absolute;
  left:202px;
  top:553px;
  width:29px;
  height:16px;
}
#u8033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8034 {
  position:absolute;
  left:90px;
  top:687px;
  width:241px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8035 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u8036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u8036 {
  position:absolute;
  left:341px;
  top:90px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8037 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u8038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8038 {
  position:absolute;
  left:40px;
  top:720px;
  width:340px;
  height:350px;
}
#u8039 {
  position:absolute;
  left:2px;
  top:167px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8040 {
  position:absolute;
  left:50px;
  top:726px;
  width:44px;
  height:23px;
}
#u8041 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8042 {
  position:absolute;
  left:52px;
  top:759px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
#u8043 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u8044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8044 {
  position:absolute;
  left:92px;
  top:755px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8045 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8046 {
  position:absolute;
  left:138px;
  top:757px;
  width:44px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u8047 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8048 {
  position:absolute;
  left:92px;
  top:795px;
  width:281px;
  height:20px;
}
#u8049 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u8050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u8050 {
  position:absolute;
  left:328px;
  top:767px;
  width:14px;
  height:15px;
}
#u8051 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u8052 {
  position:absolute;
  left:356px;
  top:768px;
  width:15px;
  height:13px;
}
#u8053 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
}
#u8054 {
  position:absolute;
  left:91px;
  top:838px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8056 {
  position:absolute;
  left:71px;
  top:817px;
}
#u8056_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8056_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8057 {
  position:absolute;
  left:20px;
  top:0px;
  width:280px;
  height:20px;
}
#u8058 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u8056_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8056_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8059 {
  position:absolute;
  left:20px;
  top:0px;
  width:280px;
  height:60px;
}
#u8060 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u8061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:2px;
}
#u8061 {
  position:absolute;
  left:79px;
  top:860px;
  width:292px;
  height:1px;
}
#u8062 {
  position:absolute;
  left:2px;
  top:-8px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u8063 {
  position:absolute;
  left:79px;
  top:883px;
  width:290px;
  height:1px;
}
#u8064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8065 {
  position:absolute;
  left:50px;
  top:892px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
#u8066 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u8067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8067 {
  position:absolute;
  left:90px;
  top:888px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8068 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8069 {
  position:absolute;
  left:138px;
  top:890px;
  width:92px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u8070 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u8071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8071 {
  position:absolute;
  left:90px;
  top:928px;
  width:290px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8072 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u8073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u8073 {
  position:absolute;
  left:326px;
  top:900px;
  width:14px;
  height:15px;
}
#u8074 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u8075 {
  position:absolute;
  left:354px;
  top:901px;
  width:15px;
  height:13px;
}
#u8076 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u8077 {
  position:absolute;
  left:272px;
  top:1040px;
  width:97px;
  height:20px;
  color:#0099FF;
}
#u8078 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8079 {
  position:absolute;
  left:409px;
  top:728px;
  width:219px;
  height:20px;
}
#u8080 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8081 {
  position:absolute;
  left:92px;
  top:776px;
  width:12px;
  height:12px;
}
#u8082 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8083 {
  position:absolute;
  left:105px;
  top:776px;
  width:12px;
  height:12px;
}
#u8084 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8085 {
  position:absolute;
  left:118px;
  top:776px;
  width:12px;
  height:12px;
}
#u8086 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8087 {
  position:absolute;
  left:131px;
  top:776px;
  width:12px;
  height:12px;
}
#u8088 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8089 {
  position:absolute;
  left:143px;
  top:776px;
  width:12px;
  height:12px;
}
#u8090 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u8091 {
  position:absolute;
  left:158px;
  top:775px;
  width:26px;
  height:14px;
  font-size:10px;
}
#u8092 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u8093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8093 {
  position:absolute;
  left:90px;
  top:910px;
  width:12px;
  height:12px;
}
#u8094 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8095 {
  position:absolute;
  left:103px;
  top:910px;
  width:12px;
  height:12px;
}
#u8096 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8097 {
  position:absolute;
  left:116px;
  top:910px;
  width:12px;
  height:12px;
}
#u8098 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8099 {
  position:absolute;
  left:129px;
  top:910px;
  width:12px;
  height:12px;
}
#u8100 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8101 {
  position:absolute;
  left:141px;
  top:910px;
  width:12px;
  height:12px;
}
#u8102 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u8103 {
  position:absolute;
  left:156px;
  top:909px;
  width:26px;
  height:14px;
  font-size:10px;
}
#u8104 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u8105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8105 {
  position:absolute;
  left:30px;
  top:1083px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8106 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u8107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8107 {
  position:absolute;
  left:270px;
  top:1083px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8108 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u8109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8109 {
  position:absolute;
  left:149px;
  top:1083px;
  width:122px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8110 {
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  word-wrap:break-word;
}
#u8111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8111 {
  position:absolute;
  left:400px;
  top:95px;
  width:315px;
  height:20px;
}
#u8112 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u8113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8113 {
  position:absolute;
  left:400px;
  top:260px;
  width:623px;
  height:20px;
}
#u8114 {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  white-space:nowrap;
}
#u8115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u8115 {
  position:absolute;
  left:321px;
  top:727px;
  width:50px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u8116 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u8117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8117 {
  position:absolute;
  left:182px;
  top:860px;
  width:25px;
  height:16px;
}
#u8118 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8119 {
  position:absolute;
  left:90px;
  top:953px;
  width:80px;
  height:80px;
}
#u8120 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8121 {
  position:absolute;
  left:180px;
  top:953px;
  width:80px;
  height:80px;
}
#u8122 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8123 {
  position:absolute;
  left:270px;
  top:953px;
  width:80px;
  height:80px;
}
#u8124 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8125 {
  position:absolute;
  left:409px;
  top:862px;
  width:391px;
  height:20px;
}
#u8126 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
